.alert {
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    max-width: 300px;

    /** alert-wrapper */
    &-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 10px;
    }

    /** alert-title */
    &-title {
        margin-top: 0;
        margin-bottom: 2px;
    }

    /** alert-error */
    &-error {
        border: 1px solid #f5c2c7;
        color: #842029;
        background: #f8d7da;
    }

    /** alert-close */
    &-close {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}